
@mixin v-button {
  .v-button {
    display: inline-block;
    zoom: 1;
    text-align: center;
    text-decoration: none;
    border: #9BB3D3 1px solid;
    background: transparent url(images/button.gif) repeat-x;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    height: 25px;
    padding: 0 5px;
    color: inherit;
    line-height: normal;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ie-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font-size: 12px;

    .v-button-wrap {
      margin-top: 2px;
      display: block;

      .v-button-caption {
        font: inherit;
        font-size: 12px;
        font-family: verdana, Tahoma, sans-serif;
        vertical-align: middle;
        white-space: nowrap;
        color: #1E3146;
        line-height: normal;
      }
    }
  }

  .v-button:hover {
    background: transparent url(images/button-hover.gif) repeat-x;
  }

  .v-disabled.v-button:hover {
    background: transparent url(images/button.gif) repeat-x;
  }
}