.v-menubar {
    padding-top: 3px;
}

.v-menubar table {
    font-family: verdana, tahoma, arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    white-space: nowrap;
    border: 0;
    margin: 0 0 0 5px;
    vertical-align: top;
    padding: 0;
    height:22px;
}

.v-menubar tbody {
    margin: 0;
    border: 0;
    padding: 0;
}

.v-menubar table td {
    
}

.v-menubar .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    height: 19px;
}

.v-menubar .menuitem div {
    color: #fff;
    font-size: 13px;
}

.v-menubar .menuitem-selected {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff repeat-x top left;
    height: 19px;
}

.v-menubar .menuitem-selected div {
    color: #4d7ab2;
}

.v-menubar-submenu {
    white-space: nowrap;
    border: solid 1px #8aa9d1;
    background: #fff;
    padding: 5px;
    font-family: verdana, tahoma, arial, geneva, helvetica, sans-serif;
    font-size: 12px;
}

.v-menubar-submenu table td {
    padding: 3px;
}

.v-menubar-submenu table {
    border-collapse: collapse;
}

.v-menubar-submenu .menuitem {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    background: transparent;
}

.v-menubar-submenu .menuitem div {
    color: #4d7ab2;
}

.v-menubar-submenu .menuitem-shortcut-selected,
.v-menubar-submenu .menuitem-selected {
    background-color: #4d7ab2;
}

.v-menubar-submenu .menuitem-selected div {
    color: #fff;
}

.v-menubar-submenu .menuitem-shortcut,
.v-menubar-submenu .menuitem-shortcut-selected {
    padding-right: 5px;
    padding-left: 0;
    color: #c0c0c0;
}

.v-menubar .menuitem div{
	white-space: nowrap;
}
