.v-upload-submit
{
    text-align:inherit;
}

/*fix for IE6*/
* html .v-upload-submit
{
    float:left;
    height:20px;
    line-height:9pt;
    padding: 0;
}
* html .gwt-FileUpload {
    height: 20px;
}

/*fix for IE7*/
*+ html .v-upload-submit
{
    float:left;
    height:20px;
    line-height:8pt;
    padding: 0;
    margin-top: 1px;
}
*+ html .gwt-FileUpload {
    height: 20px;
}

.v-upload-panel,
.v-upload-submit
{
    float:left;
}

.v-upload-clear
{
    clear: right;
}
