.i-menubar table {
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    color: #fff;
    background: transparent url(img/menubar-bg.gif) repeat-x;
    font-weight: bold;
    white-space: nowrap;
    height: 28px;
    border: 0;
    padding-left: 8px;
}

.i-menubar .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    background: transparent;
}

.i-menubar .menuitem-selected {
    background: transparent url(img/menu-selected2.gif) repeat-x 4px 4px;
    color: #002d96;
}

.i-menubar-submenu {
    font-size: 13px;
    padding: 3px;
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    background-color: white;
    white-space: nowrap;
    border: thin ridge #D3D3D3;
}

.i-menubar-submenu table {
    background: #fff url(img/submenu-bg.gif) repeat-y;
}

.i-menubar-submenu .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    color: #002d96;
}

.i-menubar-submenu .menuitem-selected {
    background-color: #DCE3EB;
}
