.i-window {
	color: #464f52;
	/*font-family: tahoma, verdana, arial, geneva, helvetica, sans-serif, "Trebuchet MS";*/
	/*font-size: 13px;*/
	line-height: 18px;
	background: transparent; /*url(img/bottom-left.png) no-repeat left bottom;*/
}

.i-window-wrap {
	/*background: transparent url(img/top-left.png) no-repeat;*/
}

.i-window-outerheader {
	height: 23px;
	margin-left: 0;
	padding: 8px;
    background: #6A8CCB;
	cursor: move;
    border: 1px solid #464f52;
    border-bottom: none;
}

.i-window-header {
	font-size: 18px;
	/*line-height: 12;*/
    height: 23px;
	font-weight: normal;
	letter-spacing: 0;
    background-color: #6A8CCB;
	color: #fff;
	white-space: nowrap;
	/*text-overflow: ellipsis;*/
	overflow: hidden;
	text-shadow: 0 1px 0 #ccc;
}

* html .i-window-header {
	width: 100%;
}

.i-window-header .i-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}

.i-window-contents {
	background: #fff;
    padding: 8px;
	border: 1px solid #464f52;
	border-top: none;
	/*border-bottom: none;*/
}

/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.i-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.i-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}

.i-window-footer {
	height: 8px;
	margin-left: 9px;
	background: transparent; /*url(img/bottom-right.png) no-repeat right top;*/
	/* IE7 bug fix */
	position:relative;
}

.i-window-resizebox {
	position: absolute; /* Needed to position the element over ScrollPanel, which is also relatively positioned */
	right: 10px;
	width: 10px;
	height: 10px;
	margin-top: -20px;
	cursor: se-resize;
	background: transparent url(img/resize.png);
	overflow: hidden;
}

.i-window-resizebox-disabled {
	cursor: default;
	background: transparent;
}

.i-window-closebox {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 12px;
	height: 12px;
	background: transparent url(img/close.png);
	cursor: pointer;
	overflow: hidden;
    border: 1px solid #fff;
}
.i-window-closebox:hover {
	background-position: 0 -12px;
}

.i-window-modalitycurtain {
	top: 0;
	left: 0;
	background: white;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}

/* IE6 workaround for position:fixed; */
* html .i-window-modalitycurtain {
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px");
}

/* IE specific styles */

* html .i-window {
	width: 0; /* min-size for IE6 */
}

/* Shadow for window */

.i-shadow-window {
	position: absolute;
}

.i-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -13px;             left: -20px;
    width: 39px;         height: 39px;
    background: transparent url(img/shadow/top-left.png);
}

.i-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -13px;             left: 19px;
    height: 39px;
    right: 19px;
    background: transparent url(img/shadow/top.png);
}

.i-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -13px;             right: -20px;
    width: 39px;         height: 39px;
    background: transparent url(img/shadow/top-right.png);
}

.i-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 26px;           left: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(img/shadow/left.png);
}

.i-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 26px;           left: 19px;
    bottom: 12px;        right: 19px;
    background: transparent url(img/shadow/center.png);
}

.i-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 26px;           right: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(img/shadow/right.png);
}

.i-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: -20px;
    width: 39px;          height: 39px;
    background: transparent url(img/shadow/bottom-left.png);
}

.i-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: 19px;
    right: 19px;          height: 39px;
    background: transparent url(img/shadow/bottom.png);
}

.i-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -27px;           right: -20px;
    width: 39px;          height: 39px;
    background: transparent url(img/shadow/bottom-right.png);
}


/* For IE6 (no transparent png's, we use a blur filter) */

* html .i-shadow-window * {
	display: none;
}

* html .i-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}