/.gradle/
/build/
/.shelf/
/test-home/
out
*.iml
*.ipr
*.iws
*.ids

modules/core/build/*
modules/global/build/*
modules/gui/build/*
modules/web/build/*
modules/client/build/*
modules/desktop/build/*
modules/portal/build/*
modules/web-auth/build/*
modules/web-toolkit/build/*
modules/shared-lib/build/*