.v-button {
	cursor: pointer;
	font-size: 13px;
	white-space: nowrap;
	margin: 0;
    padding: 3px 8px;
    font-weight: bold;
}
.v-checkbox input {
	vertical-align: middle;
}
.v-button img, .v-checkbox img {
	display:inline;
	vertical-align: middle;
	margin-right: 3px;
}
.v-button span, .v-checkbox label {
	vertical-align: middle;
}

.v-button-link,.v-button-title{
	border: none;
	text-align: left;
	background: none;
	padding: 0;
}

.v-button-link,
.v-button-link:focus,
.v-button-title{
    outline: 0;
}

.v-button-link span,
.v-button-title span {
	text-decoration: underline;
}

.v-checkbox {
	white-space: nowrap;
}

.v-checkbox .v-errorindicator {
	float: none;
	display:inline;
	padding-left: 10px;
	background-position:left;
}


/* fixes streched buttons in IE6 */
* html .v-button {
	width: 1px;
	overflow: visible;
    padding: 2px 10px;
}

/* fixes streched buttons in IE7 */
*+html .v-button {
	overflow: visible;
    padding: 2px 10px;
}

/* Error indicator on checkbox fix for IE6 */
* html .v-checkbox * { display: block; float: left;}
* html .v-checkbox .v-errorindicator {background-position:right;display: block; float: left; padding-left: 0px; padding-right:4px;}

/* Error indicator on checkbox fix for IE7 */
*+ html .v-checkbox * { display: block; float: left;}
*+ html .v-checkbox .v-errorindicator {background-position:right;display: block; float: left; padding-left: 0px;;padding-right:7px;}

/* Error indicator on button fix for IE7 */
*+ html button .v-errorindicator { display:inline; padding-right:5px; }

/* Error indicator on button fix for IE6 */
* html button .v-errorindicator { display:inline; padding-right:5px;}



.v-button .v-link,
.v-button a,
.v-button-link .v-link,
.v-button-link a,
.v-button-link span,
.v-button-title .v-link,
.v-button-title a,
.v-button-title span
{
    padding-top: 1px;
    text-decoration: none;
    text-align:center;
}

.v-button .v-link a:hover,
.v-button-link .v-link a:hover,
.v-button-link a:hover,
.v-button-link .v-link span:hover,
.v-button-title .v-link a:hover,
.v-button-title a:hover,
.v-button-title .v-link span:hover
{
    padding-top: 1px;
    text-decoration: underline;
    text-align:center;
}

.v-app .v-button-link span,
.v-app .v-button-title span,
{
    color: #0033cc;
    text-decoration: underline;
    padding: 8px 8px; 
}

.v-app .v-button-link span:hover,
.v-app .v-button-title span:hover
{
    text-decoration: underline;
}

.v-app .v-horizontallayout .v-button-title span{
    color: #FFFFFF;
    font-weight: bold;
}
.v-app .v-horizontallayout .v-button-title{
    background-color: #829fd6;
    height:20px;
}