.v-menubar table {
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    color: #fff;
    /*background: transparent;*/
    background: black;
    font-weight: bold;
    white-space: nowrap;
    height: 21px;
    border: 0;
    margin-left: 5px;
}

.v-menubar .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    background: transparent;
}

.v-menubar .menuitem-selected {
    background: transparent url(img/menu-selected2.gif) repeat-x;
    border: 1px solid #83888c;
    color: #ffffff;
}

.v-menubar-submenu {
    font-size: 13px;
    padding: 5px;
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    background: #373a3d url(img/submenu-bg.gif) repeat-x;
    white-space: nowrap;
    border: 1px solid #74797c;
}

/*
.v-menubar-submenu table {
}
*/

.v-menubar-submenu .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    color: #ffffff;
}

.v-menubar-submenu .menuitem-selected {
    background-color: #5a6e86;
}
