.v-table {
	text-align: left;
}

.v-table.table-inline .v-table-header-wrap {
	border-left: none;
	border-right: none;
}

.v-table-header-wrap {
	height: 21px;
	background: #DCE3EB url(img/table-header-bg.gif) repeat-x;
	border: 1px solid #DCE3EB;
	border-bottom: none;
	overflow: hidden;
}

.v-table-header,
.v-table-header-container {
	height: 21px;
}

.v-table-header table,
.v-table-table,
.v-table-arow table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.v-table-header td,
.v-table-table td,
.v-table-arow td {
	margin: 0;
	padding: 0;
	border: 0;
}

.v-table-header td {
    height: 21px;
    cursor: pointer;
}

.v-table-resizer {
	display: block;
	height: 21px;
	float: right;
	background: transparent url(img/table-resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.v-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;

    font-weight: bold;
	padding-top: 2px;
}

.v-table-header-cell-asc .v-table-caption-container {
	background: transparent url(img/sort-asc.png) no-repeat right 80%;
}
.v-table-header-cell-desc .v-table-caption-container {
	background: transparent url(img/sort-desc.png) no-repeat right 80%;
}
.v-table-header-cell:hover,
.v-table-header-cell-asc:hover,
.v-table-header-cell-desc:hover {
	background: transparent url(img/table-header-bg-over.gif) repeat-x;
}


.v-table-body {
	background: #fff;
	border: 0;
    border-bottom: 2px solid #829fd6;
}

.v-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}

.v-table-row,
.v-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
    border-bottom:1px solid #DCE3EB;
	cursor: default;
}
.v-table-row-odd {
	background-color: #f6f7f7;
}
.v-table-row:hover,
.v-table-row-odd:hover {
	background-color: #edeeee;
}
.v-table-row .v-table-cell,
.v-table-row-odd .v-table-cell,
.v-table-caption-row .v-table-cell,
.v-table-arow .v-table-arow-cell {
	padding: 0;
    border-bottom:1px solid #DCE3EB;
}

.v-table .v-table-caption-row {
    background-color: #c6cbcd;
    cursor: default;
}

.v-table .v-table-caption-row-content {
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 0 3px 3px;
    margin-right: 5px;
    line-height: 15px;
}

.v-table-cell-content,
.v-table-arow-cell-content {
    padding: 3px 0 3px 3px;
	margin-right: 5px;
	line-height: 15px;
}

.v-table-arow {
    border: 0;
    margin: 0;
    padding: 0;
}

.v-table-arow-row {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
    border-bottom:1px solid #DCE3EB;
    cursor: default;
}

.v-table-row.v-selected,
.v-table-row-odd.v-selected,
.v-table-caption-row.v-selected {
    background-color: #57a7ed;
}

.v-selected .v-table-cell-content {
    color: #fff;
}

.v-table-cell-content .v-icon {
    height: 15px;
    margin-right: 5px;
}

.v-table-cell .v-table-cell-content {
    white-space: nowrap;
    overflow: hidden;
}

.v-table-cell-wrap .v-table-cell-content {
    white-space: normal;
}

/* Fix textfield size to correspond label size inside table */
.v-table-cell-content .v-textfield,
.v-table-cell-content .v-button {
	margin: -2px 0 -2px -3px;
}
.v-table-cell-content .v-textfield {
	width: 97%; /* approximate */
}

.v-table-cell-content .v-datefield .v-textfield {
	width: auto;
}

/* datefield button is too high for table cell */
.v-table-cell-content .v-datefield-button {
	height: 25px;
	margin: -2px 0;
}



.v-table-column-selector {
	float: right;
	background: transparent url(../table/img/colsel.png) no-repeat;
	margin: -21px 0 0 0;
	height: 21px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

* html .v-table-column-selector {
	position: static;
}

*+html .v-table-column-selector  {
	position: static;
}

.v-table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.v-table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.v-table-header-drag {
	position: absolute;
	background: #e7edf3 url(img/table-header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.v-table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(img/table-scroll-position-bg.png);
}

.v-table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
    font-weight:bold;
}


/* row in column selector */
.v-on div {
	background: transparent url(img/check.gif) no-repeat 2px 50%;
	text-indent: 6px;
}
.v-off div {
	text-indent: 6px;
}

.v-table .v-link {
	display: inline;
}

.v-table .v-table-float {
    float: left;
}

.v-table .v-table-group-cell {
    float: left;
    background: transparent url(img/nav-plus.gif) center right no-repeat;
    width: 19px;
    line-height: 15px;
    cursor: pointer;
}

.v-table .v-table-hidden-row {
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.v-expanded .v-table-group-cell {
    background: transparent url(img/nav-minus.gif) center right no-repeat;
}

/* IE6 hack */
* html .v-table-scrollposition {
	background: transparent;
	/*
	AlphaImageLoader uses src attribute relative to host page, not CSS
	We need multiple different filters because we cannot be sure how host page is served compared to theme resources
	TODO: This actually does not work as expected, since only the last filter is applied.
	 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../ITMILL/themes/saneco/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../ITMILL/themes/saneco/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ITMILL/themes/saneco/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/ITMILL/themes/saneco/table/img/scroll-position-bg.png", sizingMethod="scale");
}

.v-pager {
    height: 20px;
    padding-right: 5px;
}

.v-pager .v-pager-link,
.v-pager .v-pager-page,
.v-pager .v-pager-spacer {
    margin: 0 5px;
    float: left;
    height: 20px;
}

.v-pager .v-pager-link {
    cursor: pointer;
    text-decoration: underline;
    color: #464f52;
}

.v-pager .v-pager-editor {
    float: right;
    line-height: 18px;
}

/* action buttons panel*/
.v-table-buttons {
    margin-bottom: 1px;
    height: 20px;
}
/*
.v-table-buttons .popupContent {
    height: 20px;
    overflow-y: hidden;
    background-color: lightgray;
}
*/
.v-table-buttons-container {
    /*float: left;*/
    height: 20px;
    float: right;
}
/*
.v-table-buttons-mover {
    float: left;
    height: 20px;
    width: 10px;
    background-color: darkgray;
    cursor: move;
}
*/
.v-table-button-wrap {
    float: left;
    margin: 1px 2px;
}
.v-table-button {
    height: 16px;
    width: 16px;
    border: 0;
    cursor: pointer;
}

.v-table .v-table-arow table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
}

.v-table .v-table-arow-row {
    margin: 0;
    padding: 0;
    border: 0;
}
