.pickerfield .v-textfield {
    padding: 0;
}

.pickerfield .v-button {
    height: 18px;
    line-height: 18px;
}

.pickerfield .v-button-caption {
    margin: 0;
}

.pickerfield .v-icon {
    margin: 0;
}

.pickerfield .v-readonly.v-textfield,
.pickerfield .v-textfield-readonly {
    border: 1px solid #000;
    overflow: hidden;
}

.pickerfield.v-readonly .v-readonly.v-textfield,
.pickerfield.v-readonly .v-textfield-readonly {
    border: 1px solid #808080;
}

.pickerfield {
    background-color: #fff;
}

.pickerfield.v-readonly {
    background-color: transparent;
}