
.pickerfield .i-textfield {
    padding: 0;
}

.pickerfield .i-button {
    height: 18px;
    line-height: 18px;
}

.pickerfield .i-button-link {
    padding: 0 5px;
}

.pickerfield .i-readonly.i-textfield,
.pickerfield .i-textfield-readonly {
    border: 1px solid #b6b6b6;
    overflow: hidden;
}