<!DOCTYPE html>
<html>
<head>
    <title>Internal server error</title>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            background-color: #fafafa;
            color: rgb(70, 70, 70);
            text-align: center;
        }

        h1 {
            font-size: 24px;
            margin: 0 0 12px;
        }

        .wrap {
            width: auto;
            display: inline-block;
            min-width: 900px;
            text-align: left;
            background: white;
            border: 1px solid #c5c5c5;
            border-radius: 7px;
            padding: 15px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <h1>
        Internal Server Error. <br/>
        Please contact system administrator.
    </h1>
    Try again later. <a href="${tryAgainUrl}">Click here</a> to continue. <br/>
    <br/>
    <% if (!productionMode) { %>
    <b>Development information:</b> <br/>
    <br/>
    [!] You can disable development information using: <b>cuba.web.productionMode</b> application property.
    <br/>
    Exception Name: ${exceptionName} <br/>
    Exception Message: ${exceptionMessage} <br/>
    Exception stack trace: <br/>
    <pre>
    ${exceptionStackTrace}
</pre>
    <% } %>
</div>
</body>
</html>