/*
.i-menubar, .i-menubar-submenu {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 14px;
}
.i-menubar-submenu {
	border-right: 2px solid #c6cbcc;
	border-bottom: 2px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}
.i-menubar-submenu .gwt-MenuBar {
    margin: 5px;
}
.i-menubar .gwt-MenuItem, .i-menubar-submenu .gwt-MenuItem {
	padding: 2px 0;
	cursor: pointer;
	vertical-align: middle;
}
.i-menubar table, .i-menubar-submenu table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.i-menubar {
    border: 1px solid #d0d4d5;
    padding-left: 30px;
}
.i-menubar .gwt-MenuItem {
    padding: 0 20px 0 5px;
    border-left: 1px solid #d0d4d5;
}
.i-menubar .gwt-MenuItem-selected {
    text-decoration: underline;
}
.i-menubar-submenu .gwt-MenuItem-selected {
    background-color: #e9eced;
}
*/
