<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <!-- Application properties. May be overridden in app properties config file (see below). -->
    <context-param>
        <param-name>appProperties</param-name>
        <param-value>
            cuba.WindowConfig.impl=com.haulmont.cuba.web.WebWindowConfig
            cuba.WindowConfig.xml=cuba/client/web/screen-config.xml
            cuba.MenuConfig.xml=cuba/client/web/menu-config.xml
            cuba.PermissionConfig.xml=cuba/permission-config.xml
            cuba.AppConfig.messagesPack=com.haulmont.cuba.web
            cuba.ViewsConfig.xml=/com/haulmont/cuba/web/app.views.xml
        </param-value>
    </context-param>

    <!-- Application properties config file name, relative to web application root -->
    <context-param>
        <param-name>appPropertiesConfigName</param-name>
        <param-value>
            WEB-INF/app.properties
            WEB-INF/local.app.properties
        </param-value>
    </context-param>

    <!-- Persitence config file names, relative to classpath root. Order is important for overriding. -->
    <context-param>
        <param-name>persistenceConfigName</param-name>
        <param-value>
            cuba-persistence.xml
        </param-value>
    </context-param>

    <!-- Application context config file names, relative to classpath root -->
    <context-param>
        <param-name>appContextConfigName</param-name>
        <param-value>cuba-spring.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.haulmont.cuba.web.sys.AppContextLoader</listener-class>
    </listener>

    <servlet>
        <servlet-name>cuba_servlet</servlet-name>
        <servlet-class>com.haulmont.cuba.web.sys.CubaApplicationServlet
        </servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>com.haulmont.cuba.web.App</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.haulmont.cuba.toolkit.gwt.WidgetSet</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>file_download_servlet</servlet-name>
        <servlet-class>com.haulmont.cuba.web.sys.FileDownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>jr_image_servlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cuba_servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>file_download_servlet</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jr_image_servlet</servlet-name>
        <url-pattern>/jasperreport/image</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CubaHttpFilter</filter-name>
        <filter-class>com.haulmont.cuba.web.sys.CubaHttpFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CubaHttpFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
