.i-tree-table {
	border: 1px solid #b6bbbc;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-tree-table .table-inline {
	border-left: none;
	border-right: none;
	/*margin: -16px -18px 0 -18px;*/
}

.i-tree-table-header-wrap {
	height: 36px;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border-bottom: 1px solid #b6bbbc;
	overflow: hidden;
}

.i-tree-table-header {
	height: 36px;
}

.i-tree-table-header div {
    height: 36px;
    float: left;
}

.i-tree-table-content, i-table-content div {
    margin: 0;
    padding: 0;
    border: 0;
}

.i-tree-table-content .i-tree-table-row,
.i-tree-table-content .i-tree-table-row-odd {
    height: 24px;
}

.i-tree-table-body-sizer {
    height: 0;
    line-height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.i-tree-table-resizer {
	display: block;
	background: transparent url(img/resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.i-tree-table-caption-container {
	overflow: hidden;
	white-space: nowrap;
	color: #393a3c;
	font-size: 15px;
	padding-top: 9px;
	text-shadow: #ffffff 2px 2px 0;
}

.i-tree-table-caption {
    padding-left:4px;
}

.i-tree-table-header-cell {
    float:left;
}

.i-tree-table-header-cell-asc .i-tree-table-caption-container {
	background: transparent url(img/sort-asc.png) no-repeat right 80%;
}
.i-tree-table-header-cell-desc .i-tree-table-caption-container {
	background: transparent url(img/sort-desc.png) no-repeat right 80%;
}
.i-tree-table-header-cell:hover,
.i-tree-table-header-cell-asc:hover,
.i-tree-table-header-cell-desc:hover {
	background: transparent url(img/header-bg-over.png) repeat-x;
}

.i-tree-table-body {
	background: #fff;
}

.i-tree-table-row,
.i-tree-table-row-odd {
	background-color: #fff;
	cursor: default;
}
.i-tree-table-row .i-tree-table-cell-wrap,
.i-tree-table-row-odd .i-tree-table-cell-wrap {
    float: left;
    height: 24px;
}
.i-tree-table-row-odd {
	background-color: #f6f7f7;
}
.i-tree-table-row:hover,
.i-tree-table-row-odd:hover {
	background-color: #edeeee;
}
.i-tree-table .i-selected {
	background: #d5dde0;
	color: #456572;
}

.i-tree-table-cell {
	white-space: nowrap;
	overflow: hidden;
    padding: 4px 0 0 4px;
    margin-right: 5px;
}

/* Fix textfield size to correspond label size inside table */
.i-tree-table-cell input.i-textfield,
.i-tree-table-cell .i-button {
	margin: -2px 0 -2px -3px;
}
.i-tree-table-cell .i-textfield,
.i-tree-table-cell .i-datefield {
	width: 97%; /* approximate */
}

/* ...but not for datefield textarea */
.i-tree-table-cell .i-datefield .i-textfield {
	width: auto;
	margin: 0;
}
/* datefield button is too high for table cell */
.i-tree-table-cell .i-datefield-button {
	height: 25px;
}



.i-tree-table-column-selector {
	float: right;
	background: transparent url(img/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

* html .i-tree-table-column-selector {
	position: static;
}

*+html .i-tree-table-column-selector  {
	position: static;
}

.i-tree-table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.i-tree-table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.i-tree-table-header-drag {
	position: absolute;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.i-tree-table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(img/scroll-position-bg.png);
}

.i-tree-table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}


/* rowe in column selector */
.i-tree-table-column-on div {
	background-image: url(img/check.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
	text-indent: 6px;
}

.i-tree-table-column-off div {
	text-indent: 6px;
}

.i-tree-table-columns-apply {
    padding: 0 5px;
    margin: 0 10px 5px;
}

.i-tree-table-menu {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}
.i-tree-table-menu .gwt-MenuBar {
	border-right: 2px solid #c6cbcc;
	border-bottom: 2px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}
.i-tree-table-menu .gwt-MenuItem {
	padding: 2px 0;
	cursor: pointer;
	vertical-align: middle;
}
.i-tree-table-menu .gwt-MenuItem div {
	/*border: 1px solid #f6f7f7;*/
	padding: 1px 20px 1px 8px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}
.i-tree-table-menu table {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.i-tree-table-menu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}

/* IE6 hack */
* html .i-tree-table-scrollposition {
	background: transparent;
	/*
	AlphaImageLoader uses src attribute relative to host page, not CSS
	We need multiple different filters because we cannot be sure how host page is served compared to theme resources
	 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/scroll-position-bg.png", sizingMethod="scale");
}