.v-tabsheet,
.v-tabsheet-content,
.v-tabsheet-deco {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left; /* Force default alignment */
}

/*
.v-tabsheet-tabsheetpanel
{
    margin: 5px;
}*/

.v-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
	margin:0;
    margin-top: 0;
	padding:0;
	border:0;
	height: 29px;
	width: 100%;
	overflow:hidden;
}

.v-tabsheet-tabs td {
	margin:0;
	padding:0;
	vertical-align: bottom;
}



.v-tabsheet-spacertd {
	width: 100%;
}
.v-tabsheet-spacertd div {
	height: 31px;
	border: 1px solid #747678;
    border-top: 0;
	background: transparent url(img/tab-bg.gif);
}


.v-tabsheet-hidetabs .v-tabsheet-tabcontainer {
	display: none;
}

.v-tabsheet-scroller {
	white-space: nowrap;
	text-align: right;
	margin-top: -29px;
}

.v-tabsheet-scrollerPrev,
.v-tabsheet-scrollerNext {
	border: none;
	width: 12px;
	height: 29px;
	opacity: 0.9999;
	margin-top: -1px;
}
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	border: none;
	width: 12px;
	height: 29px;
	margin-top: -1px;
	opacity: 0.9999;
    color:#131415;
}

.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerNext:hover,
.v-tabsheet-scrollerNext-disabled {
	background: transparent url(img/next-a.png) no-repeat;
}
.v-tabsheet-scrollerPrev,
.v-tabsheet-scrollerPrev:hover,
.v-tabsheet-scrollerPrev-disabled {
	background: transparent url(img/prev-a.png) no-repeat;
}
.v-tabsheet-scrollerPrev:hover,
.v-tabsheet-scrollerNext:hover {
	/*background-position: -24px 0px;*/
}
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	background-position: -12px 0px;
}
.v-tabsheet-scrollerPrev-disabled:hover,
.v-tabsheet-scrollerNext-disabled:hover {
	background-position: -12px 0px;

}

.v-tabsheet-tabs .v-caption {
	white-space: nowrap;
}

/* for IE (does not inherit) */
.v-tabsheet-tabs .v-caption span {
	white-space: nowrap;
}

.v-tabsheet-content .v-verticallayout-margin
{
    /*margin-left: 8px;*/
}

.v-verticallayout-tabsheet-tabsheetpanel .v-verticallayout-margin-left
{
}

.v-tabsheet-content .v-tabsheet-tabsheetpanel {
    background: #36393b;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell {
    border-bottom: 0;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell-first {
    padding-left: 4px;
    background: transparent url(img/first-unsel-left-bg.png) top left no-repeat;
}

.v-tabsheet-tabitem {
    border: 0;
	height: 27px;
	padding-top: 5px;
	margin-top: 0;
	line-height: 18px;
	background: url(img/tab-unsel-bg.png) top right no-repeat;
	cursor: pointer;
}

.v-tabsheet-tabitem-selected-first,
.v-tabsheet-tabitem-selected {
    background: transparent url(img/right.gif) no-repeat right top;
    border-bottom: 0;
    height: 25px;
	cursor: default;
    padding: 5px 6px 2px 0;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell-first .v-tabsheet-tabitem {
    padding-right: 4px;
}

.v-tabsheet-tabitem .v-caption {
	height: 20px;
	padding: 3px 15px 5px 15px;
}

.v-tabsheet-tabitem .v-caption .v-captiontext,
.v-tabsheet-tabitem-selected .v-caption .v-captiontext {
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.v-tabsheet-tabitem-selected .v-caption {
	background: none;
	margin: 0 -1px 0 0px;
	padding: 3px 10px 5px 10px;
	overflow: visible;
}

.v-tabsheet-tabitem .v-caption .v-captiontext {
    color: #cccccc;
}

.v-tabsheet-tabitem-selected .v-caption .v-captiontext {
    color: white;
}

.v-tabsheet-tabs .v-tabsheet-tabitemcell-selected-first,
.v-tabsheet-tabs .v-tabsheet-tabitemcell-selected {
    background: transparent url(img/left.gif) no-repeat left top;
    padding-left: 6px;
}

.v-tabsheet-tabitem .v-disabled {
    color: #fff;
}

.v-tabsheet-content {
	border: 1px solid #747678;
	background-color: #36393b;
	border-bottom: 1px solid #505153;
	border-top: none;
	position: relative;
}

.v-tabsheet-hidetabs .v-tabsheet-content {
	border-top: 1px solid #b5babb;
}

.v-tabsheet-deco {
	height: 1px;
	background: none;
	margin-left: 0;
}

.v-tabsheet-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: none;
}


/* Progress indication */

.v-tabsheet-loading .v-tabsheet-tabitem-selected .v-captiontext {
	background: transparent;
	margin-left: -5px;
	padding-left: 5px;
	margin-right: -20px;
	padding-right: 20px;
	margin-top: -2px;
	padding-top: 2px;
    /* todo fix progress indicator */
}