@mixin cuba-groupbox-defaults {
  outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
  text-align: left; /* Force default alignment */
  border: 0;
}

$groupBoxInnerPadding: 5px;
$groupBoxCaptionLineHeight: 18px;

@mixin cuba-groupbox {
  .cuba-groupbox.v-widget {
    @include cuba-groupbox-defaults;

    fieldset {
      border: 1px solid #babfc0;
      margin: 0;
      padding: $groupBoxInnerPadding $groupBoxInnerPadding $groupBoxInnerPadding;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      legend {
        margin: 0;
        padding: 0;
        font-weight: bold;
        white-space: nowrap;
      }

      .cuba-groupbox-caption {
        @include cuba-groupbox-defaults;
        padding: 0 4px;
        line-height: $groupBoxCaptionLineHeight;

        .cuba-groupbox-expander {
          width: 9px;
          height: 9px;
          float: left;
          margin-top: 4px;
          margin-right: 2px;
          background: transparent no-repeat center left;
          background-image: url(sprites/expand.png); /** sprite-ref: components; */
          cursor: pointer;
        }

        .cuba-groupbox-expander.expanded {
          background: transparent no-repeat center left;
          background-image: url(sprites/collapse.png); /** sprite-ref: components; */
        }

        .v-errorindicator {
          float: none;
          padding-right: 10px;
          display: inline;
          background: transparent;
        }

        .v-icon {
          display: inline;
          vertical-align: middle;
        }
      }

      .cuba-groupbox-content {
        @include cuba-groupbox-defaults;
        overflow: hidden;
        border: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }

      .cuba-groupbox-deco {
        @include cuba-groupbox-defaults;
        height: 0;
        background: transparent;
        margin: 0;
      }

      .cuba-groupbox-deco:before {
        display: block;
        content: "";
        width: 0;
        height: 0;
        margin-left: 0;
        background: transparent;
      }
    }
  }
}

@mixin cuba-groupbox-content-fix {
  .cuba-groupbox.v-widget {
    fieldset {
      .cuba-groupbox-content.first-child-expanded {
        padding-bottom: $groupBoxCaptionLineHeight;
      }
    }
  }

  .cuba-groupbox.v-widget.first-child-expanded.cuba-groupbox-nocaption {
    fieldset {
      .cuba-groupbox-content {
        padding-bottom: 0;
      }
    }
  }
}

.v-webkit {
  @include cuba-groupbox-content-fix;
}

.v-ie {
  @include cuba-groupbox-content-fix;
}

.v-opera {
  @include cuba-groupbox-content-fix;
}