/** sprite: components; sprite-image: url('/compiled/components.png'); sprite-layout: vertical */

@mixin cuba-group-box {
  .cuba-group-box {
    .cuba-group-box-caption {
      div {
        float: left;
        width: 12px;
        height: 18px;
        background: transparent no-repeat;
        background-position: center left;
        background-image: url(sprites/expand.png);    /** sprite-ref: components; */
        cursor: pointer;
      }
    }

    .expanded {
      div {
        background: transparent no-repeat;
        background-position: center left;
        background-image: url(sprites/collapse.png);  /** sprite-ref: components; */
      }
    }
  }
}