@mixin havana-panel($primaryStyleName : v-panel) {
  .#{$primaryStyleName} {
    .#{$primaryStyleName}-content {
      border: 0;
    }

    .#{$primaryStyleName}-deco {
      display: none;
    }

    .#{$primaryStyleName}-captionwrap {
      display: none;
    }
  }
}