.v-window {
	color: #000;
	line-height: 18px;
	background: transparent;
}

.v-window-wrap {
    font-family: verdana, Tahoma, Arial, sans-serif;
    color: #fff;
}

.v-window-outerheader {
	margin-left: 0;
	padding: 0 0 0 5px;
    background: #2b4666 no-repeat left top;
    cursor: move;
/*
    border: 0 solid #131415;
    border-bottom: none;
*/
}

.v-window-contents > div {
    outline: none;
}

.v-window-header {
	font-size: 13px;
    padding: 6px 5px 5px 7px;
	font-weight: bold;
	letter-spacing: 0;
    background: #2b4666 no-repeat right top;
	color: #ffffff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
    font-family: verdana, "Trebuchet MS", tahoma, arial, sans-serif;
}

* html .v-window-header {
	width: 100%;
}

.v-window-header .v-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}

.v-window-contents {
	background: #fff;
	color: #1E3146;
    padding: 8px;
    font-size: 12px;
	border: 1px solid #8aa9d1;
    /*margin: 2px;*/
	/*border-bottom: none;*/
}

/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.v-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.v-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}

.v-window-footer {
	/*height: 8px;*/
	/*margin-left: 9px;*/
	background: transparent; /*url(img/bottom-right.png) no-repeat right top;*/
	/* IE7 bug fix */
	position:relative;
}

.v-window-resizebox {
	position: absolute; /* Needed to position the element over ScrollPanel, which is also relatively positioned */
	right: 1px;
	width: 10px;
	height: 10px;
	margin-top: -11px;
	cursor: se-resize;
	background: transparent url(img/resize.png);
	overflow: hidden;
}

.v-window-resizebox-disabled {
	cursor: default;
	background: transparent;
}

.v-window-closebox {
	position: absolute;
	top: 10px;
	right: -5px;
	width: 21px;
	height: 21px;
	background: transparent url(img/close.png) no-repeat;
	cursor: pointer;
	overflow: hidden;
    /*border: 1px solid #fff;*/
}

.v-window-closebox:hover {
	background: transparent url(img/close-active.png) no-repeat;
}

.v-window-modalitycurtain {
	top: 0;
	left: 0;
	background: white;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}

/* IE6 workaround for position:fixed; */
* html .v-window-modalitycurtain {
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px");
}

/* IE specific styles */

* html .v-window {
	width: 0; /* min-size for IE6 */
}

/* Shadow for window */

.v-shadow-window {
	position: absolute;
}

.v-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -13px;             left: -20px;
    width: 39px;         height: 39px;
    background: transparent url(img/shadow/top-left.png);
}

.v-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -13px;             left: 19px;
    height: 39px;
    right: 19px;
    background: transparent url(img/shadow/top.png);
}

.v-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -13px;             right: -20px;
    width: 39px;         height: 39px;
    background: transparent url(img/shadow/top-right.png);
}

.v-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 26px;           left: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(img/shadow/left.png);
}

.v-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 26px;           left: 19px;
    bottom: 12px;        right: 19px;
    background: transparent url(img/shadow/center.png);
}

.v-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 26px;           right: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(img/shadow/right.png);
}

.v-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: -20px;
    width: 39px;          height: 39px;
    background: transparent url(img/shadow/bottom-left.png);
}

.v-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: 19px;
    right: 19px;          height: 39px;
    background: transparent url(img/shadow/bottom.png);
}

.v-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -27px;           right: -20px;
    width: 39px;          height: 39px;
    background: transparent url(img/shadow/bottom-right.png);
}


/* For IE6 (no transparent png's, we use a blur filter) */

* html .v-shadow-window * {
	display: none;
}

* html .v-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}
