@mixin addon-popupbutton() {
  .popupbutton-legacy .v-button-wrap * {
    float: left;
  }

  .v-popupbutton .v-popup-indicator {
    display: inline-block;
    cursor: pointer;
    width: 13px;
    height: 11px;
  }

  .popupbutton-legacy .v-popup-indicator {
    background: transparent url(../../../themes/base/common/img/sprites.png) no-repeat -5px -10px;
  }

  .v-popupbutton .v-popup-indicator:before {
    font-size: 0.7em;
    font-family: FontAwesome;
    content: '\f078';
    vertical-align: 0.15em;
    margin: 0 -0.2em 0 0.5em;
    opacity: 0.5;
  }

  .popupbutton-legacy .v-popup-indicator:before {
    content: ' ';
  }

  .v-popupbutton.v-disabled .v-popup-indicator {
    cursor: default;
  }

  .v-ie6 .v-popupbutton .v-popup-indicator {
    display: inline;
    zoom: 1;
  }
  .v-ie7 .v-popupbutton .v-popup-indicator {
    display: inline;
    zoom: 1;
    position: relative;
    top: -4px;
  }

  .v-popupbutton-popup {
    background: #f8f8f9;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .v-popupbutton-popup-popupbutton-legacy {
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    line-height: normal;
    color: #222;
  }

  .v-popupbutton-popup > .popupContent > .v-captionwrapper > .v-caption {
    display: block;
  }

  .v-popupbutton-popup.fixed {
    position: fixed !important;
    z-index: 20001 !important;
  }

  .v-shadow-fixed {
    position: fixed !important;
    z-index: 20000 !important;
  }
}