/*
 * Menu bar
 */

.v-horizontallayout-menubar {
    border-bottom: 1px solid #83888c;
    background: url('images/menu-bg.png') repeat-x top left;
    padding-bottom: 0;
}

/*
 * Title bar
 */

.v-horizontallayout-titlebar {
    background: #373738;
}

.v-horizontallayout-titlebar .v-button:hover {
    background: transparent;
}

.v-horizontallayout-titlebar .v-label-appname {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

.v-horizontallayout-titlebar .v-label-select-label {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

/**
 *  Breadcrumbs styles
 */
.v-horizontallayout-breadcrumbs .v-label {
    font-family: tahoma, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.v-horizontallayout-breadcrumbs .v-button:hover {
   background: transparent;
}

.v-horizontallayout-headline-container .v-button:hover {
   background: transparent;
}

.v-horizontallayout-titlebar .v-button:hover {
    background: transparent;
}

.v-horizontallayout-breadcrumbs .v-button-link .v-button-caption {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

/* Breadcrumbs close button */

.v-button-closetab-button {
    background: transparent none;
}

.v-button-closetab-button .v-button-wrap,
.v-button-closetab-button:hover .v-button-wrap{
    background: transparent none;
    padding: 0;
}

/* Logout & View-log buttons */
.v-button-white-border {
    background: transparent none;
    height: 26px;
    padding: 0 0 0 4px;
}

.v-button-white-border .v-button-wrap,
.v-button-white-border:hover .v-button-wrap {
    height: 23px;
    padding-top: 2px;
    background: transparent none;
}

.v-button-white-border .v-button-caption {
    /* looks not very pretty
    text-decoration: underline;
    */
}

/*
 * Login page styles
 */
.v-verticallayout-centerLayout {
    margin-bottom: 0;
}

.v-verticallayout-loginBottom {
    background: url('images/login-form-bg-key.png') no-repeat top center;
}

.v-verticallayout-loginBottom .v-textfield-password-field {
    border: #a0a1a3 ridge 1px;
}

.v-verticallayout-loginBottom .v-textfield-login-field {
    border: #a0a1a3 ridge 1px;
}

.v-verticallayout-loginBottom .v-captiontext {
    color: #000;
    font-family: arial, sans-serif;
    padding-right: 5px;
    float: none;
}

.v-verticallayout-loginBottom .v-label-login-caption {
    color: #000;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 9pt;
}

.v-verticallayout-mainLayout {
    background-color: #fff;
}

.v-form-loginForm {
    padding-left: 55px;
    font-weight: normal;
}

/*
 * Work area in single mode
 */

.v-verticallayout-single {
    border: 1px solid #5280b7;
    background: #ffffff;
}

/*
 * Here go
 *  Custom Control styles
 */

.v-verticallayout.edit-area,
.v-horizontallayout.edit-area,
.v-gridlayout.edit-area {
    background-color: #F6F6F6;
    border: 1px solid #c3c3c3;
    color: #000;
}

.group-box-edit-area fieldset {
    background-color: #F6F6F6;
    border: 1px solid #c3c3c3;
    color: #000;
}

.edit-area .v-label, .edit-area .v-label.h2 {
    color: #002157;
}

.v-label.h2 {
    font-family: tahoma, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

/*
 *  e.g. text labels for fields
 *  at popup dialog editors
 */
.v-window-contents .v-verticallayout-edit-area,
.v-window-contents .v-horizontallayout-edit-area,
.v-window-contents .v-gridlayout-edit-area,
.v-window-contents .v-table {
    font-family: tahoma, verdana, arial, geneva, helvetica, sans-serif, "Trebuchet MS";
	color: #000;
	font-size: 8pt;
}


/* Folders pane styles */

.v-verticallayout-folderspane {
/*    border-right : solid 2px #8aa9d1; */
    background: #fff;
}

.v-verticallayout-folderspane .v-tree {
    border: 0;
    overflow: auto;
}

.v-label-folderspane-caption {
    font-weight: bold;
}

.popupmenu.v-dashlayout{
	margin: 0;
    padding : 5px;
    border: solid 1px #8aa9d1;
}

.popupmenu .v-button.v-button-link
{
    height: 18px;
    width: 100%;
    padding-right: 10px;
}

.popupmenu .v-button:hover .v-button-caption {
    color: #fff;
}

.popupmenu .v-button-caption, .popupmenu .v-disabled.v-button:hover .v-button-caption
{
    color: #4d7ab2;
    text-decoration: none;
}

.popupmenu .v-button:hover,
.popupmenu .v-button:active,
.popupmenu .v-button.v-pressed .v-button-wrap,
.popupmenu .v-button:hover .v-button-wrap,
.popupmenu .v-button:active .v-button-wrap,
.popupmenu .v-button.v-pressed .v-button-wrap
{
    background-color: #4d7ab2;
}

.popupmenu .v-disabled.v-button,
.popupmenu .v-disabled.v-button:hover,
.popupmenu .v-disabled.v-button .v-button-wrap
{
    background: transparent none;
}

.popupmenu .v-button:focus .v-button-caption {
    outline: none;
}

.v-button.v-popupbutton .v-menu-indicator {
	background: transparent url(common/img/sprites.png) no-repeat -5px -10px;
}

.v-panel.dummy-split .v-panel-content {
    background: transparent;
    background-image: url(splitpanel/img/split-hor-bg.png);
    background-repeat: repeat-y;
    background-position: top left;
}

.v-menubar-folders-pane tr > td.menuitem:first-child,
.v-menubar-folders-pane tr > td.menuitem-selected:first-child {
    background-color: transparent;    
}

.widgets-tree-empty .v-tree-node-widget {
    border-bottom:0px;
    border-left:0px;
    padding-bottom:0px;
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    border-top:0px;
    border-right:0px;
    padding-top:0px;
}

.v-menubar .menuitem .folders-item{
    background: url(menubar/img/folders-pane.png) top left no-repeat;
}

.v-menubar .menuitem-selected .folders-item{
    background: url(menubar/img/folders-pane-hover.png) top left no-repeat;
}