.v-form.v-fieldgroup .v-form-caption {
    clear: both;
    overflow: hidden;
}

.v-form.v-fieldgroup.v-form-collapsable fieldset {
    border-top: 1px solid #fff;
}

.v-form.v-fieldgroup.v-form-nocaption fieldset {
    border-top: none;
}

.v-form.v-fieldgroup .v-form-caption div {
    float: left;
    width: 17px;
    height: 15px;
    background: transparent url(img/expand.gif) no-repeat center left;
    cursor: pointer;
}

.v-form.v-fieldgroup .expanded div {
    background: transparent url(img/collapse.gif) no-repeat center left;
}