fieldset {
    border: none;
}

.v-formlayout-cell .v-errorindicator {
	width: 10px;
	height: 16px;
	display: block;
	background: transparent url(../icons/16/error.png) no-repeat top right;
}
.v-formlayout-captioncell {
	text-align:right;
	white-space: nowrap;
}
.v-formlayout-captioncell .v-caption {
	overflow: visible;
}

.v-formlayout-contentcell {
}

.v-formlayout-error-indicator {
	/* fix width so layout is not jumpy when error disapear */
	width: 12px;
}

.v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell,
.v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: 8px;
}

.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-captioncell,
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 0;
}

.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-captioncell,
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 15px;
}
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-captioncell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-contentcell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-errorcell {
	padding-bottom: 15px;
}
.v-formlayout-margin-left .v-formlayout-captioncell {
	padding-left: 18px;
}
.v-formlayout-margin-right .v-formlayout-contentcell {
	padding-right: 18px;
}

/* form */

.v-form-errormessage {
	background: transparent url(../icons/16/error.png) no-repeat top left;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 20px;
}

* html .v-form-errormessage {
	height: 20px
}

.v-form fieldset {
	border: none;
    margin: 0;
    padding: 0;
}

.v-form legend {
	margin: 0;
	padding: 0 4px 0.3em 4px;
	font-weight: bold;
}

.v-form-nodescription .v-form-description {
    height: 0;
}

/*
.v-formlayout-captioncell .v-caption .v-required-field-indicator {
	float: none;
    color: #f00;
    font-weight:bold;
}
*/

/*
.v-form-description div
{
    border: 0;
    backgound-color: #000;
}
*/
