/*
 * Menu bar
 */

.v-horizontallayout-menubar {
    border-bottom: 1px solid #83888c;
    background: url('images/menu-bg.png') repeat-x top left;
}

/*
 * Title bar
 */

.v-horizontallayout-titlebar {
    background: url('images/title-bg.png') repeat-x top left;
    border-bottom: 1px solid #83888c;
}

.v-horizontallayout-titlebar .v-label-appname {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

.v-horizontallayout-titlebar .v-label-select-label {
    color: white;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

/**
 *  Breadcrumbs styles
 */
.v-horizontallayout-breadcrumbs .v-label {
    font-family: tahoma, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.v-horizontallayout-headline-container {
    background-color: #131416;
    margin-bottom: 5px;
}

.v-horizontallayout-breadcrumbs .v-button-link .v-button-caption {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Breadcrumbs close button */

.v-button-closetab-button {
    background: transparent none;
}

.v-button-closetab-button .v-button-wrap {
    background: transparent none;
    padding: 0;
}

/* Logout & View-log buttons */
.v-button-white-border {
    background: transparent url(button/img/btn-wb-left.png) no-repeat left center;
    height: 26px;
    padding: 0 0 0 4px;
}

.v-button-white-border .v-button-wrap {
    height: 23px;
    padding-top: 2px;
    background: transparent url(button/img/btn-wb-right.png) no-repeat right top;
}

.v-button-white-border .v-button-caption {
    /* looks not very pretty
    text-decoration: underline;
    */
}

/*
 * Login page styles
 */
.v-verticallayout-centerLayout {
    margin-bottom: 0;
}

.v-verticallayout-loginBottom {
    background: url('images/login-form-bg-key.png') no-repeat top center;
}

.v-verticallayout-loginBottom2fields {
    background: url('images/login-form-bg.png') no-repeat top center;
}

.v-verticallayout-loginBottom2fields .v-textfield-password-field,
.v-verticallayout-loginBottom .v-textfield-password-field {
    border: #a0a1a3 ridge 1px;
}

.v-verticallayout-loginBottom2fields .v-textfield-login-field,
.v-verticallayout-loginBottom .v-textfield-login-field {
    border: #a0a1a3 ridge 1px;
}

.v-verticallayout-loginBottom2fields .v-captiontext,
.v-verticallayout-loginBottom .v-captiontext {
    color: white;
    font-family: arial, sans-serif;
    float: right;
    padding-right: 5px;
}

.v-verticallayout-loginBottom2fields .v-label-login-caption,
.v-verticallayout-loginBottom .v-label-login-caption {
    color: white;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 9pt;
}

.v-verticallayout-mainLayout {
    background-color: #242426;
}

.v-form-loginForm {
    padding-left: 30px;
    font-weight: normal;
}

.v-form-loginForm .v-form-description {
    height: 0;
}

/*
 * Here go
 *  Custom Control styles
 */

.v-verticallayout .edit-area,
.v-horizontallayout .edit-area,
.v-gridlayout .edit-area {
    background-color: #eeeeee;
    color: #000;
}

.edit-area .v-label, .edit-area .v-label.h2 {
    color: #000;
}

.v-label.h2 {
    font-family: tahoma, sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

/* for group box */
.v-panel-h2 .v-panel-caption-h2 {
    font-family: tahoma, sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

/*
 *  e.g. text labels for fields
 *  at popup dialog editors
 */
.v-window-contents .v-verticallayout-edit-area,
.v-window-contents .v-horizontallayout-edit-area,
.v-window-contents .v-gridlayout-edit-area,
.v-window-contents .v-table {
    font-family: tahoma, verdana, arial, geneva, helvetica, sans-serif, "Trebuchet MS";
	color: #000;
	font-size: 8pt;
}

.rememberMe {
    color: #fff;
}

/*
 * text field with indicator
 */
.v-textfield-i-indicator,
.v-textfield-i-indicator-active {
    width: 24px;
    height: 24px;
    float: right;
    position: relative;
}

.v-textfield-i-indicator {
    background: transparent;
}

.v-textfield-i-indicator-active {
    background: url(images/loader2.gif) top left no-repeat;
}

.v-table-focuspanel {
    outline: none;
}

.v-app .v-label-folderspane-caption {
    color: #FFFFFF;
}

.popupmenu.v-dashlayout{
	margin: 0;
    padding : 5px;
    border: solid 1px #7f8488;
    background: #373b3e url(../../themes/blacklabel/menubar/img/submenu-bg.png) repeat-x top left;
}

.popupmenu .v-button.v-button-link
{
    height: 18px;
    width: 100%;
    padding-right: 10px;
}

.popupmenu .v-button:hover .v-button-caption {
    color: #fff;
}

.popupmenu .v-button-caption, .popupmenu .v-disabled.v-button:hover .v-button-caption
{
    color: #fff;
    text-decoration: none;
}

.popupmenu .v-button:hover,
.popupmenu .v-button:active,
.popupmenu .v-button.v-pressed .v-button-wrap,
.popupmenu .v-button:hover .v-button-wrap,
.popupmenu .v-button:active .v-button-wrap,
.popupmenu .v-button.v-pressed .v-button-wrap
{
    background-color: #5a6e86;
}

.popupmenu .v-disabled.v-button,
.popupmenu .v-disabled.v-button:hover,
.popupmenu .v-disabled.v-button .v-button-wrap
{
    background: transparent none;
}

.widgets-tree-empty .v-tree-node-widget {
    border-bottom:0px;
    border-left:0px;
    padding-bottom:0px;
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    border-top:0px;
    border-right:0px;
    padding-top:0px;
}

.popupmenu .v-button:focus .v-button-caption {
    outline: none;
}

.v-button.v-popupbutton .v-menu-indicator {
	background: transparent url(../../themes/blacklabel/common/img/sprites.png) no-repeat -5px -10px;
}

.v-verticallayout-operationContainer {
    border-bottom: 1px solid #888;
}

.fts-found-instance {
    height: 20px;
    padding-top: 5px;
}

.fts-hit {
    padding-left: 20px;
}