.flow-layout {
}

.flow-layout .flow-layout-content {

}

.flow-layout .flow-layout-widget {
    float: left;
}

.flow-layout-m-t {
    padding-top: 5px;
}

.flow-layout-m-r {
    padding-right: 5px;
}

.flow-layout-m-b {
    padding-bottom: 5px;
}

.flow-layout-m-l {
    padding-left: 5px;
}

.flow-layout-s .flow-layout-widget {
    padding: 0 5px 5px 0;
}

.v-ie7 .flow-layout .flow-layout-widget, .v-ie8 .flow-layout .flow-layout-widget {
    display: inline;
    zoom: 1;
}