.v-textfield,
.v-textfield-i .v-textfield-i-input {
	background: #fff url(img/bg.png) repeat-x;
	padding: 2px;
	/*border: 1px solid #b6b6b6;*/
	/*border-top-color: #9d9d9d;*/
	/*border-bottom-color: #d6d6d6;*/
	/*border-right-color: #d6d6d6;*/
    border: 1px solid #141414;
	margin: 0;
	font-size: 13px;
	height: 19px;
	text-align: left /* Force default alignment */
}

.v-textfield-i .v-textfield-i-input {
    float: left;
}

.v-textfield-i {
    height: 24px;
    text-align: left; /* Force default alignment */
}

/*.v-datefield-textfield {*/
    /*border: 1px solid #d6d6d6;*/
    /*border-top-color: #9d9d9d;*/
    /*border-left-color: #b6b6b6;*/
/*}*/

.v-textarea {
	background: #fff url(img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #141414;
	/*border-top-color: #9d9d9d;*/
	/*border-bottom-color: #d6d6d6;*/
	/*border-right-color: #d6d6d6;*/
	margin: 0;
	font-size: 13px;
}

.v-textfield:focus,
.v-textarea:focus,
.v-textfield-i-input:focus {
    outline: 0;
}

.v-textfield-focus,
.v-textarea-focus,
.v-textfield-focus .v-textfield-input {
    outline: 0;
}

.v-textfield.v-readonly,
.v-textarea.v-readonly,
.v-textfield-i.v-readonly .v-textfield-i-input {
	background: transparent;
	color: #222;
	border: #808080 1px solid;
    cursor: default;
}

.v-textarea.v-readonly {
    overflow: hidden;
}

.v-richtextarea {
	border: 1px solid #b6b6b6;
	overflow: hidden;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float:left;
}
.v-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
}
.v-richtextarea .gwt-RichTextArea {
	background: #fff url(img/bg.png) repeat-x;
}
.v-richtextarea iframe {
	border: 0;
}

/* Disabled by default
.v-textarea-error,
.v-textfield-error,
.v-richtextarea-error iframe.gwt-RichTextArea {
	background:transparent;
	background-color: #FFE0E0;	
}
*/

/* Disabled by default
.v-textarea-required,
.v-textfield-required,
.v-richtextarea-required iframe.gwt-RichTextArea {
	background:transparent;
	background-color: #FFE0E0;	
}
*/

/* Safari focus glow fix */
.v-sa input:focus,
.v-sa textarea:focus{
    outline: 0;
}