<Context>
    <!-- PostgreSQL connection -->
    <Resource
      name="jdbc/CubaDS"
      type="javax.sql.DataSource"
      maxActive="20"
      maxIdle="2"
      maxWait="5000"
      driverClassName="org.postgresql.Driver"
      username="root"
      password="root"
      url="jdbc:postgresql://localhost/shop"/>

    <!-- Switch off session serialization -->
    <Manager className="org.apache.catalina.session.PersistentManager" debug="0" distributable="false"
             saveOnRestart="false">
        <Store className="org.apache.catalina.session.FileStore"/>
    </Manager>
</Context>