.v-menubar {
    padding-top: 3px;
}

.v-ie7 .v-menubar, .v-ie8 .v-menubar {
    padding-top: 0;
}

.v-menubar table {
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    font-size: 11px;
    white-space: nowrap;
    border: 0;
    margin: 0 0 0 5px;
    vertical-align: top;
    padding: 0;
}

.v-menubar tbody {
    margin: 0;
    border: 0;
    padding: 0;
}

.v-menubar table td {
    
}

.v-menubar .menuitem {
    cursor: pointer;
    padding-left: 11px;
    padding-right: 11px;
    background: transparent;
    height: 21px;
}

.v-menubar .menuitem div {
    color: #fff;
}

.v-menubar .menuitem-selected {
    padding-left: 10px;
    padding-right: 10px;
    background: url(img/menubar-item-bg.png) repeat-x top left;
    border: 1px solid #c3c7c8;
    height: 19px;
}

.v-menubar-submenu {
    white-space: nowrap;
    border: solid 1px #7f8488;
    background: #373b3e url(img/submenu-bg.png) repeat-x top left;
    padding: 5px;
    font-family: tahoma, arial, verdana, geneva, helvetica, sans-serif;
    font-size: 11px;
}

.v-menubar-submenu table td {
    padding: 3px;
}

.v-menubar-submenu table {
    border-collapse: collapse;
}

.v-menubar-submenu .menuitem-shortcut,
.v-menubar-submenu .menuitem {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    color: white;
}

.v-menubar-submenu .menuitem-shortcut-selected,
.v-menubar-submenu .menuitem-selected {
    background-color: #5a6e86;
}

.v-menubar-submenu .menuitem-shortcut,
.v-menubar-submenu .menuitem-shortcut-selected {
    padding-right: 5px;
    padding-left: 0;
    color: #c0c0c0;
}
