.v-fieldgroup fieldset {
    margin: 0;
    padding: 0;
}

.v-fieldgroup legend {
	margin: 0;
	padding: 0 4px 0.3em 4px;
	font-weight: bold;
}

.v-fieldgroup.v-fieldgroup-nodescription .v-form-description {
    height: 0;
}

.v-fieldgroup .v-form-caption {
    clear: both;
    overflow: hidden;
}

.v-fieldgroup.v-fieldgroup-nocollapsable.v-fieldgroup-nocaption fieldset {
    border-top: none;
}

.v-fieldgroup .v-form-caption div {
    float: left;
    width: 17px;
    height: 15px;
    background: transparent url(img/expand.gif) no-repeat center left;
    cursor: pointer;
}

.v-fieldgroup .expanded div {
    background: transparent url(img/collapse.gif) no-repeat center left;
}