
@page {
    size: A4;
    padding: 0;
    margin: 2cm;
}

@page contentpage {
    margin-bottom: 2.2cm;
    @bottom-right {
        content: 'стр. ' counter(page) ' из ' counter(pages);
        font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana',sans-serif;
        font-size: 10pt;
        color: #777777;
        padding-bottom: 1.2cm;
        vertical-align: bottom;
    }
}

body {
    font-size: 10pt;
    margin: 0;
    margin-bottom: 2cm;
    padding: 0;
    padding-bottom: 2cm;
}

/*
 * Override colour -> black and white
 */
body, div, td {
    color: black;
}

/*
 * Book title page
 */

.titlepage h1.title {
    font-size: 360%;
    margin: 0;
    color: #336699;
}

.titlepage h2.subtitle {
    font-size: 240%;
	padding-top: 24%;
    margin: 0;
    color: #336699;
}

.titlepage .releaseinfo {
    margin-top: 50%;
    font-size: 180%;
    color: black;
}

.titlepage .copyright{
	text-align=center;
	margin-top: 60%;
}

.book.bookinfo .copyright{
	text-align=center;
	margin-top: 50%;
}

.book .titlepage div.title {
    text-align: right;
    page-break-after: always;
    border: none;
    background-color: white;
    margin: 0;
    padding-top: 24%;
    padding-left: 0;
    padding-right: 5%;
    padding-bottom: 0;
}

.toc {
    page-break-before: always;
}

.toc * {
    line-height: 130%;
}

.toc p{
    font-size: 180%;
	color: #336699;
}

.copyright p{
    text-align=center;
}

/**
 * Chapter and Appendix title page
 */

.chapter {
    page: contentpage;
    page-break-before: always;
}

.preface {
    page: contentpage;
    page-break-before: always;
}

.appendix {
    page: contentpage;
    page-break-before: always;
}

.glossary {
    page: contentpage;
    page-break-before: always;
}

.glossdiv {
    page-break-after: always;
}

.chapter > .titlepage h1 {
    font-size: 240%;
    text-align: right;
}

.chapter > .titlepage h2 {
    font-size: 300%;
    text-align: right;
}

.chapter > .titlepage {
    margin-bottom: 4em;
}

.appendix > .titlepage h1 {
    font-size: 240%;
    text-align: right;
}

.appendix > .titlepage h2 {
    font-size: 400%;
    text-align: right;
}

.appendix > .titlepage {
    margin-bottom: 4em;
}

.section .titlepage {
    page-break-after: avoid;
}

p {
    text-align: justify;
}

/**
 * Examples
 */

.example .title {
    text-align: left;
    white-space: nowrap;
    color: #666666
}

.example {
    page-break-inside: avoid;
}

.figure .title {
    text-align: center;
    white-space: nowrap;
    color: #666666
}

.figure {
    page-break-inside: avoid;
}

.figure img {
    width: 100%;
}

.table .title {
    text-align: left;
    white-space: nowrap;
    color: #666666
}

.table {
    page-break-inside: avoid;
}

.programlisting {
    page-break-inside: auto ;
    font-size: 70%;
	width: 90%;
}

.screen {
    page-break-inside: avoid;
    font-size: 90%;
}

.tip {
    background: #FAF7F5;
    border: solid #e2d2c9 1px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 87%;
}
.tip .title {
    color: #80614D;
	font-size: 100%;
}

.warning {
    background: #f8e8e8;
    border: solid #e59595 1px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 87%;
}
.warning .title {
    color: #cc6666;
	font-size: 100%;
}

.caution {
    background: #ecf2ff;
    border: solid #4c72bf 1px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 87%;
}
.caution .title {
    color: #6699ff;
	font-size: 100%;
}


/* Remove top margins on headings inside notes and tips */
.tip h1, .note h1
.tip h2, .note h2,
.tip h3, .note h3,
.tip h4, .note h4,
.tip h5, .note h5,
.tip h6, .note h6
{
   margin-top: 0;
}

/* Remove top margins on headings inside notes and tips */
.caution h1, .warning h1, .IMPORTANT h1
.caution h2, .warning h2, .IMPORTANT h2,
.caution h3, .warning h3, .IMPORTANT h3,
.caution h4, .warning h4, .IMPORTANT h4,
.caution h5, .warning h5, .IMPORTANT h5,
.caution h6, .warning h6, .IMPORTANT h6
{
   margin-top: 0;
}

.guibutton {
	background-color: #e7e7e7;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0.2px;
	padding-bottom: 0.2px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-radius: 4px;
	border-color: #adadad;
	font-size: 90%;
}

.glossterm {
	font-style: italic;
	color: blue;
}

a {
	text-decoration: none;
}

.ulink
{
	border-bottom: 1px solid
}


