@page {
    size: A4;
    padding: 0;
    margin: 2cm;
}

/*footers and headers*/

@page contentpage {
	margin-bottom: 2.2cm;
	margin-top: 3cm;
    @bottom-left {
        content: 'Платформа CUBA™. Руководство по разработке приложений';
		/*content: 'Платформа CUBA™. Подсистема безопасности';*/
        font-family: 'Arial', 'Verdana', sans-serif;
        font-size: 12pt;
        color: #777777;
        padding-bottom: 1.2cm;
        vertical-align: bottom;
    };
	/*@bottom-left {
        content: 'стр. ' counter(page) ' из ' counter(pages);
        font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana',sans-serif;
        font-size: 10pt;
        color: #777777;
        padding-bottom: 1.2cm;
        vertical-align: bottom;
    };*/
	@bottom-right {
        content: counter(page);
        font-family: 'Arial', 'Verdana', sans-serif;
        font-size: 12pt;
        color: #777777;
        padding-bottom: 1.2cm;
        vertical-align: bottom;
    };
	@top-left {	
        margin-top: 3cm;
        vertical-align: bottom;
		background-image: url(img/logoMin.png);
		background-repeat: no-repeat;
		background-position: bottom;
    };
	/*@top-right {
	    content: counter(page);
		font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana',sans-serif;
        font-size: 10pt;
        color: #777777;
        padding-bottom: 1.2cm;
        vertical-align: bottom;
    };*/
}

body {
    font-size: 13px;
    margin: 0;
    margin-bottom: 2cm;
	margin-left: 1cm;
	margin-right: 1cm;
    padding: 0;
    padding-bottom: 2cm;
}

/*
 * Override colour -> black and white*/
 
body, div, td {
    color: black;
}

p {
    text-align: justify;
}

a {
	text-decoration: none;
    color: black;
}

/*
 * Titlepages
 */
 
.book .titlepage {
    background-image: url(img/HaulmontLogoMax.png);
}

.preface .titlepage {
    background-image: none;
}

.section .titlepage {
    background-image: none;
	page-break-after: avoid;
}

.chapter .titlepage {
    background-image: none;
}

.appendix .titlepage {
    background-image: none;
	margin-bottom: 4em;
}

.glossary .titlepage {
    background-image: none;
}

.titlepage .releaseinfo {
    margin-top: 50%;
    font-size: 180%;
    color: black;
}

.titlepage .copyright{
	text-align=center;
	/*margin-top: 75%;*/
	margin-top: 45%;
}

.book.bookinfo .copyright{
	text-align=center;
	/*margin-top: 55%;*/
	margin-top: 40%;
}

.copyright p{
    text-align=center;
}

/*
 * Titles
 */

.titlepage h1.title {
    /*font-size: 360%;*/
	font-size: 40pt;
    margin: 0;
    color: #0b6ec7;
	padding-top: 33%;
}

.titlepage h2.subtitle {
	font-size: 24pt;
    /*font-size: 240%;*/
	padding-top: 24%;
    margin: 0;
    color: #0b6ec7;
}

.book .titlepage div.title {
    text-align: right;
    page-break-after: always;
    border: none;
    margin: 0;
    padding-top: 24%;
    padding-left: 0;
    padding-right: 5%;
    padding-bottom: 0;
}

.chapter > .titlepage h1 {
    /*font-size: 240%;*/
	font-size: 16pt;
    text-align: right;
}

.chapter > .titlepage h2 {
    /*font-size: 300%;*/
	font-size: 18pt;
    text-align: right;
}

.preface > .titlepage h1 {
    /*font-size: 240%;*/
	font-size: 16pt;
    text-align: right;
}

.preface > .titlepage h2 {
    /*font-size: 300%;*/
	font-size: 18pt;
    text-align: right;
}

.chapter > .titlepage {
    margin-bottom: 4em;
}

.appendix > .titlepage h1 {
    /*font-size: 240%;*/
	font-size: 16pt;
    text-align: right;
}

.appendix > .titlepage h2 {
    /*font-size: 400%;*/
	font-size: 18pt;
    text-align: right;
}

.section > .titlepage h2 {
    /*font-size: 400%;*/
	font-size: 16pt;
}

.section > .titlepage h3 {
    /*font-size: 400%;*/
	font-size: 14pt;
}

.section > .titlepage h4 {
    /*font-size: 400%;*/
	font-size: 12pt;
}

/*TOC*/

.toc {
    page-break-before: always;
	content: counter(page);
}

.toc * {
    line-height: 130%;
	content: counter(page);
}

.toc p{
    /*font-size: 180%;*/
	font-size: 18pt;
	color: #0b6ec7;
	content: counter(page);
}

/**
 * Chapter and Appendix title page
 */

.chapter {
    page: contentpage;
    page-break-before: always;
}

.preface {
    page: contentpage;
    page-break-before: always;
}

.appendix {
    page: contentpage;
    page-break-before: always;
}

.glossary {
    page: contentpage;
    page-break-before: always;
}

.glossdiv {
    page-break-after: auto;
}

/**
 * Examples,notes, tips, figures
 */

.example .title, .figure .title {
    text-align: center;
    white-space: nowrap;
    font-family: 'Arial', 'Verdana', sans-serif;
	font-size: 10pt;
    color: #000000;
}

.example, .figure {
    page-break-inside: avoid;
}

.figure img {
    width: 100%;
	image-rendering: initial;
}

.caution.para {
    page-break-inside: auto;
}

.programlisting {
    page-break-inside: auto ;
    font-size: 70%;
	width: 90%;
	white-space: pre-wrap;
}

.tip, .warning, .caution {
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 87%;
	page-break-inside: avoid;
	white-space: pre-wrap;
}

.tip {
    background: #FAF7F5;
    border: solid #e2d2c9 1px;
}

.tip .title {
    color: #403127;
	font-size: 100%;
}

.warning {
    background: #f8e8e8;
    border: solid #e59595 1px;
}
.warning .title {
    color: #661b1b;
	font-size: 100%;
}

.caution {
    background: #ecf2ff;
    border: solid #4c72bf 1px;
}
.caution .title {
    color: #26395f;
	font-size: 100%;
}

/* Remove top margins on headings inside notes and tips */
.tip h1, .note h1
.tip h2, .note h2,
.tip h3, .note h3,
.tip h4, .note h4,
.tip h5, .note h5,
.tip h6, .note h6
{
   margin-top: 0;
}

/* Remove top margins on headings inside notes and tips */
.caution h1, .warning h1, .IMPORTANT h1
.caution h2, .warning h2, .IMPORTANT h2,
.caution h3, .warning h3, .IMPORTANT h3,
.caution h4, .warning h4, .IMPORTANT h4,
.caution h5, .warning h5, .IMPORTANT h5,
.caution h6, .warning h6, .IMPORTANT h6
{
   margin-top: 0;
}

/*DocBook elements*/

.itemizedlist {
    page-break-inside: auto;
}

.filename {
	white-space: pre-wrap;
}

.screen {
    page-break-inside: avoid;
    font-size: 90%;
}

.guibutton {
	background-color: #e7e7e7;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0.2px;
	padding-bottom: 0.2px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-radius: 4px;
	border-color: #565656;
	font-size: 90%;
	white-space: pre-wrap;
}

.glossterm {
	font-style: italic;
	color: #1a334c;
}

.link {
	font-style: italic;
	color: #1a334c;
}

.ulink
{
	border-bottom: 1px solid
}

.literal{
	font-family: 'Courier New', Courier, monospace;
}

.informaltable {
    page-break-inside: auto;
}

.userinput {
    white-space: pre-wrap;
}

.prompt {
    white-space: pre-line;
}

.programlisting a img {
    display:inline;
    margin:0 0;
}

/*
 * Tables
 */

.informaltable table {
    border-collapse: collapse;
    font-size: 11pt;
    min-width: 50%;
    /*border: solid #2250bd 1px;
	border: solid rgb(0,149,182) 0.5px;*/
	page-break-inside: auto;
}

.informaltable table td {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
	font-size: 11pt;
}

.informaltable table thead td {
    font-weight: bold;
	font-size: 11pt;
    /*border-bottom: solid #686868 2px;*/
    background-color: #ffffff;
}

th.caption { background-color: rgb(11,110,199); 
            color: #ffffff;} 
			
th.bord { border-right: solid #ffffff 0.5px;
         background-color: rgb(11,110,199); 
         color: #ffffff;} 
			
td.special { background-color: rgb(157,197,232); 
            border-bottom: solid #686868 1px;
			border-top: solid #686868 1px;} 
			
td.left { background-color: rgb(157,197,232); 
            border-left: solid #686868 1px;
			border-bottom: solid #686868 1px;
			border-top: solid #686868 1px;} 
			
td.right { background-color: rgb(157,197,232); 
            border-right: solid #686868 1px;
			border-bottom: solid #686868 1px;
			border-top: solid #686868 1px;} 