
/*
 * Basic layout
 */

html {
    margin: 0;
}

body {
    background-color: white;
    line-height: 140%;
    font-size: 14px;
    /*margin:0 auto;*/
    /*max-width:100em;*/
    /*overflow-x: hidden;*/
    /*padding:0em 2em;*/
}

body, td, div {
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    color: #000000;
}

/*div {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

a {
    color: #000000;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*text-align: justify;*/
}

h1, h2, h3, h4, h5, h6{
    color: #0b6ec7;
    line-height: 130%;
    font-weight: bold;
    font-family: 'Arial', 'Verdana', sans-serif;
}

h1 {
    line-height:1.2em;
    font-size:2em;
    padding:1.5em;
}

h2 {
    font-size:1.8em;
}

h3 {
    font-size:1.6em;
}

h4 {
    font-size:1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

code, pre {
    font-family: 'Courier New', Courier, monospace;
}

h1 a, h2 a, h3 a, h4 a, h5 a , h6 a{
    color: inherit;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: inherit;
}

/**
 * TITLEPAGE
 */

.book > .titlepage {
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.titlepage h1.title {
    font-size: 3.5em;
    color: #0b6ec7;
    text-align: center;
}

.titlepage .copyright {
    color: #a2a2a2;
    font-size: .9em;
}

.titlepage .legalnotice {
    color: #a2a2a2;
    font-size: .9em;
}

/*
 * Table of Contents
 */

.book .toc > dl > dt {
    font-weight: bold;
    text-decoration: none;
}

.book .toc {
    margin-bottom: 1em;
}

.toc p {
    font-size: 1.8em;
    color: #0b6ec7;
}

/*
 * Docbook content
 */

.chapter h1 {
    margin-bottom: 1.0em;
}

.appendix {
    margin-top: 6em;
}

.appendix h2 {
    margin-bottom: 1.0em;
}

div.chapter, div.section {
    padding-top:1em;
}

.book .chapter {
    margin-top: 2em;
}
/*
 * Links
 */
.book{
    position: absolute;
    left: 0em;
    margin-left: 2em;
    display: block;
    word-wrap: break-word;
    /*overflow-x: auto;*/
}
.link {
}

.ulink {
}

.glossterm {
    font-style: normal;
}

/*
 * Lists
 */

.variablelist dt {
    font-weight: bold;
    margin-top: 1.5em;
}

.variablelist dt:first-child {
    margin-top: 0em;
}

.variablelist dt a {
    font-weight: normal;
}

ol li, ul li {
    padding-left:.2em;
}

ul {
    padding-left:1.6em;
    list-style-type:circle;
}

ul ul {
    list-style-type:circle;
}

dd {
    margin-left:2em;
}

/*
 * Examples, Figures
 */

pre {
    background-color: #f5f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 120%;
}

.screen {
    border-left: solid #d4e3fa 0.5em;
}

.example, .figure {
    margin-bottom: 1em;
}

.example .title, .figure .title {
    white-space: nowrap;
    text-align:center;
    margin-bottom: 0.6em;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 10pt;
    color: #000000;
}

.example pre, .figure pre {
    margin-bottom: 0.6em;
}

.example-contents > p {
    display: block;
    margin-bottom: 0.2em;
}

.example-break, .figure-break {
    display: none
}

.exampleLocation {
    margin-top: 0.5em;
    padding-left: 1.7em;
    background: #FEFEDD;
    color: #777744;
}

.exampleLocation p {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.exampleLocation .emphasis em {
    font-style: normal;
    font-weight: bold;
}

/*
 * Footnotes, notes, tips
 */

.footnote sup {
    vertical-align: baseline;
    font-size: 100%;
}

.programlisting {
    border-left: solid #d4e3fa 0.5em;
    width: 85%;
    margin-left: 4.3em;
    padding-left: 1.2em;
    page-break-inside: auto ;
    font-size: 90%;
    white-space: pre-wrap;
}

.note, .tip, .warning, .caution {
    /*padding-top: 1em;*/
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.note {
    background: #ebf4f7;
    border: solid #c3d9e6 1px;
}

.note .title {
    color: #5283a1;
    font-size: 100%;
}

.tip {
    background: #ecf2ff;
    border: solid #4c72bf 1px;
}
.tip .title {
    color: #80614D;
    font-size: 100%;
}

.tip .figure .title, .warning .figure .title, .caution .figure .title {
    color: #000000;
    font-size: 13px;
}

.warning {
    background: #f8e8e8;
    border: solid #e59595 1px;
}
.warning .title {
    color: #cc6666;
    font-size: 100%;
}

.caution {
    background: #ecf2ff;
    border: solid #4c72bf 1px;
}
.caution .title {
    color: #6699ff;
    font-size: 100%;
}

/* Remove top margins on headings inside notes and tips */
.tip h1, .note h1
.tip h2, .note h2,
.tip h3, .note h3,
.tip h4, .note h4,
.tip h5, .note h5,
.tip h6, .note h6
{
    margin-top: 0;
}

/* Remove top margins on headings inside notes and tips */
.caution h1, .warning h1, .IMPORTANT h1
.caution h2, .warning h2, .IMPORTANT h2,
.caution h3, .warning h3, .IMPORTANT h3,
.caution h4, .warning h4, .IMPORTANT h4,
.caution h5, .warning h5, .IMPORTANT h5,
.caution h6, .warning h6, .IMPORTANT h6
{
    margin-top: 0;
}

/*
 * Tables
 */

.informaltable table {
    border-collapse: collapse;
    font-size: 14px;
    min-width: 50%;
    page-break-inside: auto;
}

.informaltable table td {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 14px;
}

.informaltable th {
    padding:.3em .5em;
}

.informaltable td {
    padding:.15em .5em;
}

.informaltable table thead td {
    font-weight: bold;
    font-size:  14px;
    background-color: #ffffff;
}

th.caption { background-color: rgb(11,110,199);
    color: #ffffff;}

th.bord { border-right: solid #ffffff 1px;
    background-color: rgb(11,110,199);
    color: #ffffff;}

td.special { background-color: rgb(157,197,232);
    border-bottom: solid #686868 2px;
    border-top: solid #686868 2px;}

td.left { background-color: rgb(157,197,232);
    border-left: solid #686868 2px;
    border-bottom: solid #686868 2px;
    border-top: solid #686868 2px;}

td.right { background-color: rgb(157,197,232);
    border-right: solid #686868 2px;
    border-bottom: solid #686868 2px;
    border-top: solid #686868 2px;}

div.table  {
    text-align: center;
    margin-bottom: 1em;
}

div.informaltable {
    text-align: center;
    margin-bottom: 1em;
}

.table {
    margin-bottom: 1.8em;
    padding-bottom: 2em;
}

.table .title {
    white-space: nowrap;
    margin-bottom: 0.6em;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 13px;
    color: #000000;
}

table .footnote {
    margin:1em .5em;
}

/**
 * Inline content
 */

.cmdsynopsis {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2em;
}

.prompt {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1em;
}

.userinput{
    white-space: nowrap;
}

.literal{
    font-family: 'Courier New', Courier, monospace;
}

.guimenu, .guimenuitem, .guisubmenu,
.guilabel {
    font-weight: bold;
}

.structname {
    font-weight: bold;
}

.guibutton {
    background-color: #e7e7e7;
    padding: 2px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 4px;
    border-color: #adadad;
}

.application, .orgname, .productname{
    font-weight: bold;
}

.authorinitials, .firstterm {
    font-style: italic;
}

.property, .classname, .methodname, .interfacename, .errortext, .type, .varname, .envar {
    font-family:  'Courier New', Courier, monospace;
}

.database {
    font-weight: bold;
}

.errorname {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* ToC panel */

a.toc-btn {
    position: fixed;
    background-color: #404040;
    opacity:0.5;
    filter:alpha(opacity=50);
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    padding: 4px 12px 6px 12px;
    font-weight: bold;
    z-index: 2;
    left: 0;
    top: 45%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}


.toc-panel {
    position: fixed;
    display: none;
    background-color: #404040;
    color: #c0c0c0;
    /*width: 450px;*/
    height: 100%;
    /*position: absolute;*/
    z-index:1;
    overflow: auto;
    left: 0;
    width: 26em;
    top: 0;
    padding: 20px 15px 20px 15px;
    box-sizing: border-box;
}

.toc-search,
.toc-search .toc-search-label {
    color: #c0c0c0;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
}

#toc-panel a.toc-search-result {
    color: #ffffff;
    font-weight: bold;
}

#toc-panel a.toc-search-hidden {
    display: none;
}

div#toc-panel a, div#toc-panel p {
    color: #c0c0c0;
}

.separator-link{
   color: #c0c0c0;
}

@media print {
    div.book{
        width: 1000px;
        left: 3em;
        margin-left: 0;
        text-align: justify;
    }
    div.toc-panel{
        display: none;
    }
    a.toc-btn{
        display: none;
    }
}