@mixin halo-draganddrop($primary-stylename: v-drag-element) {
  .#{$primary-stylename} {
    background-color: $v-app-background-color;
    border: valo-border();
    font-family: $v-font-family;
    font-size: $v-font-family-size;
    opacity: 0.8;
    padding: ceil($v-unit-size/5) ceil($v-unit-size/3) ceil($v-unit-size/8) ceil($v-unit-size/3);
    white-space: nowrap;
  }
}